<div class="container my-5 employee">
  <h1 class="mb-3">Employees</h1>

  <table class="table table-hover" *ngIf="employee && employee.length > 0">
    <thead>
      <tr>
        <th>Employee Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Dtae Of Joining</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let employee of employee">
        <td>{{employee.employee_id}}</td>
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.dob}}</td>
        <td>{{employee.jd}}</td>

        <td>
          <a href="" class=""><i class="fa-solid fa-pen-to-square"></i></a> |
          <a href=""><i class="fa-solid fa-trash"></i></a>|
          <a class="nav-link active"  routerLink="/Employees/view-employee"><i class="fa-solid fa-eye"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="!employee || employee.length <= 0">No Employees Found</p>
</div>
