<div class="mb-3 container m-4 m-auto">
  <form [formGroup]="reactform" #Dform="ngForm" (ngSubmit)="onSubmit(Dform.value)">
    <div class="border row border-light  p-2">
      <div class="form-row col-md-6">
        <label for="first_name " class="form-label">First Name</label>
        <input class="form-control" type="text" name="first_name" id="first_name" formControlName="first_name" required>

      </div>
      <div class="form-row col-md-6">
        <label for="last_name" class="form-label">Last Name</label>
        <input class="form-control" type="text" name="last_name" id="last_name" formControlName="last_name" required>
      </div>
      <div class="form-row col-md-6">
        <label for="gender" class="form-label">Gender</label>
        <select class="form-select" aria-label="Default select example" formControlName="gender">
          <option selected>Open this select menu</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="form-row col-md-6">
        <label for="dob" class="form-label">Date Of Birth</label>
        <input class="form-control" type="date" name="dob" id="dob" formControlName="dob" required>
      </div>
      <div class="form-row col-md-6">
        <label for="jd" class="form-label">Date Of Joining</label>
        <input class="form-control" type="date" name="jd" id="jd" formControlName="jd" required>
      </div>
      <div class="form-row col-md-6 ">
        <label for="department_id" class="form-label">Department</label>
        <select class="form-select" formControlName="department_id">
          <option *ngFor="let department of departments;  let i = index" value="{{department.department_id }}" >
          {{ department.department_name }}
          </option>
        </select>
      </div>
      <div class="form-row col-md-6">
        <label for="job_master_id" class="form-label">Designation</label>
        <select
        (click)="onSelectJob(Dform.value.department_id)"
        name="job_master_id" formControlName="job_master_id"
        id="job_master_id"
        class="form-select">
          <option value="{{job.job_master_id}}" *ngFor="let job of jobs; let i = index">
            {{job.designation_name}}
          </option>
        </select>
      </div>
      <!-- <div class="form-row">
        <label for="photopath" class="form-label">photopath</label>
        <input class="form-control" type="text" name="photopath" id="photopath" formControlName="photopath">
      </div><hr> -->
    </div>
    <!--qualification start form-->
    <hr>
    <section formArrayName="employee_Qualification" class="border border-light p-2">
      <div *ngFor="let item of employee_Qualification.controls;let i=index" [formGroupName]="i" class="row">
        <div class="form-row col-md-6">
          <label for="qualification_year" class="form-label">Qualification Year</label>
          <input class="form-control" type="text" placeholder="qualification_year" formControlName="qualification_year">
        </div>
        <div class="form-row col-md-6">
          <label for="course_name" class="form-label">Course Name</label>
          <input class="form-control" type="text" placeholder="course_name" formControlName="course_name">
        </div>
        <div class="form-row col-md-6">
          <label for="last_qualification_university" class="form-label">University Name</label>
          <input class="form-control" type="text" placeholder="last_qualification_university" formControlName="last_qualification_university">
        </div>
        <div class="form-row col-md-6">
          <label for="last_qualification_marks" class="form-label">Marks</label>
          <input class="form-control" type="text" placeholder="last_qualification_marks" formControlName="last_qualification_marks">
        </div>
        <div>
          <button class="btn btn-danger m-1" (click)="RemoveQualification(i)">(-)</button>
        </div>
      </div>
    </section>
    <div>

      <a class="btn btn-outline-success col-2" mat-raised-button color="primary" (click)="AddnewQualification()">Add New Qualification (+)</a>
    </div><hr>
    <!--contact form start-->
    <section class="border border-light p-2">
      <div formGroupName="employee_Contact_Details" class="row">
        <div class="form-row col-md-6">
          <label for="mobile_no" class="form-label">Mobile No.</label>
          <input class="form-control" type="text" placeholder="mobile_no" formControlName="mobile_no">
        </div>
        <div class="form-row col-md-6">
          <label for="email_id" class="form-label">Email Id</label>
          <input class="form-control" type="text" placeholder="email_id" formControlName="email_id">
        </div>
        <div class="form-row col-md-6">
          <label for="address" class="form-label">Address</label>
          <input class="form-control" type="text" placeholder="address" formControlName="address">
        </div>
        <div class="form-row col-md-6">
          <label for="city_id" class="form-label">Country Name</label>
          <select (click)="onCountry()" class="form-select" formControlName="country_id">
            <option *ngFor="let country of countries;  let i = index" value="{{country.iso2}}"
           #country_code
            >
            {{ country.name }}
            </option>
          </select>
        </div>
        <div class="form-row col-md-6">
          <label for="state_id" class="form-label">State Name</label>
          <select (click)="OnCountrySelect(Dform.value.employee_Contact_Details.country_id)" class="form-select" formControlName="state_id">
            <option *ngFor="let state of states;  let i = index" value="{{state.state_code}}" >
            {{ state.name }}
            </option>
          </select>
        </div>
        <div class="form-row col-md-6">
          <label for="country_id" class="form-label">City Name</label>
          <select (click)="OnSelectState(Dform.value.employee_Contact_Details.state_id)" class="form-select" formControlName="city_id">
            <option *ngFor="let city of cities;  let i = index" value="{{city.name}}" >
            {{ city.name }}
            </option>
        </select>
        </div>
      </div>
    </section>


    <div class="example-button-row" style="margin-top: 5px">
      <button class="btn btn-outline-primary p-2" mat-raised-button color="primary">Submit</button> |
      <button class="btn btn-outline-danger p-2" type="reset" mat-raised-button color="accent">Clear</button>
    </div>
  </form>
</div>
