<div class="mb-3 container m-4">
  <form [formGroup]="reactform" #Dform="ngForm" (ngSubmit)="onSubmit(Dform.value)">
    <div class="border border-light p-5">
      <div class="form-row">
        <label for="first_name" class="form-label">First Name</label>
        <input class="form-control" type="text" name="first_name" id="first_name" formControlName="first_name" required>
      </div>
      <div class="form-row">
        <label for="last_name" class="form-label">Last Name</label>
        <input class="form-control" type="text" name="last_name" id="last_name" formControlName="last_name" required>
      </div>
      <div class="form-row">
        <label for="gender" class="form-label">gender</label>
        <select class="form-select" aria-label="Default select example" formControlName="gender">
          <option selected>Open this select menu</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="form-row">
        <label for="dob" class="form-label">DOB</label>
        <input class="form-control" type="date" name="dob" id="dob" formControlName="dob" required>
      </div>
      <div class="form-row">
        <label for="jd" class="form-label">JD</label>
        <input class="form-control" type="date" name="jd" id="jd" formControlName="jd" required>
      </div>
      <div class="form-row">
        <label for="department_id" class="form-label">department_id</label>
        <input class="form-control" type="text" name="department_id" id="department_id" formControlName="department_id" required>
      </div>
      <!-- <div class="form-row">
        <label for="photopath" class="form-label">photopath</label>
        <input class="form-control" type="text" name="photopath" id="photopath" formControlName="photopath">
      </div><hr> -->
    </div>
    <!--qualification start form-->
    <hr>
    <section formArrayName="employee_Qualification" class="border border-light p-5">
      <div *ngFor="let item of employee_Qualification.controls;let i=index" [formGroupName]="i">
        <div class="form-row">
          <input class="form-control" type="text" placeholder="qualification_year" formControlName="qualification_year">
        </div>
        <div class="form-row">
          <input class="form-control" type="text" placeholder="course_name" formControlName="course_name">
        </div>
        <div class="form-row">
          <input class="form-control" type="text" placeholder="last_qualification_university" formControlName="last_qualification_university">
        </div>
        <div class="form-row">
          <input class="form-control" type="text" placeholder="last_qualification_marks" formControlName="last_qualification_marks">
        </div>
        <button class="btn btn-danger" (click)="RemoveQualification(i)">(-)</button>
      </div>
    </section>
    <div>
      <a class="btn btn-info" mat-raised-button color="primary" (click)="AddnewQualification()">Add New Qualification (+)</a>
    </div><hr>
    <!--contact form start-->
    <section formArrayName="employee_Contact_Details" class="border border-light p-5">
      <div *ngFor="let item of employee_Contact_Details.controls;let i=index" [formGroupName]="i">
        <div class="form-row">
          <input class="form-control" type="text" placeholder="mobile_no" formControlName="mobile_no">
        </div>
        <div class="form-row">
          <input class="form-control" type="text" placeholder="email_id" formControlName="email_id">
        </div>
        <div class="form-row">
          <input class="form-control" type="text" placeholder="address" formControlName="address">
        </div>
        <div class="form-row">
          <input class="form-control" type="text" placeholder="city_id" formControlName="city_id">
        </div>
        <div class="form-row">
          <input class="form-control" type="text" placeholder="state_id" formControlName="state_id">
        </div>
        <div class="form-row">
          <input class="form-control" type="text" placeholder="country_id" formControlName="country_id">
        </div>
        <button class="btn btn-danger" (click)="RemoveContact(i)">(-)</button>
      </div>
    </section>
    <div>
      <a class="btn btn-info" (click)="AddNewContact()">Add New Contact Details(+)</a>
    </div>

    <div class="example-button-row" style="margin-top: 5px">
      <button class="btn btn-primary" mat-raised-button color="primary" >Submit</button> |
      <button class="btn btn-danger" mat-raised-button color="accent">Clear</button>
    </div>
  </form>
</div>
