<div class="mb-3 container m-auto m-4">
    <form [formGroup]="leaveForm" #lForm="ngForm" (ngSubmit)="onSubmit(lForm.value)">
        <div class="border border-light col-8 p-2">
            <div class="form-row mb-3">
                <label for="employee_id" class="form-label">Employee Name</label>
                <select class="form-select" formControlName="employee_id">
                    <option *ngFor="let employee of employees;  let i = index" value="{{employee.employee_id }}" >
                    {{ employee.first_name }} {{employee.last_name}}
                    </option>
                  </select>
            </div>
            <div class="form-row mb-3">
                <label for="start_date" class="form-label">Start Date</label>
                <input class="form-control" type="date" name="start_date" id="start_date" formControlName="start_date" required>
            </div>
            <div class="form-row mb-3">
                <label for="end_date" class="form-label">End Date</label>
                <input class="form-control" type="date" name="end_date" id="end_date" formControlName="end_date" required>
            </div>
            <div class="form-row mb-3">
                <label for="reason" class="form-label">Reason</label>
                <input class="form-control" type="text" name="reason" id="reason" formControlName="reason" required>
            </div><br>
            <div class="form-row mb-3">
                <button class="btn btn-outline-primary">Save</button>
            </div>
        </div>
    </form>
    </div>
