<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid container">
    <a class="navbar-brand active" aria-current="page" routerLink="dashboard"><i class="fa-solid fa-user"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">


        <li class="nav-item m-1">
          <div class="dropdown show">
            <a class="btn bg-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Employee
            </a>

            <div class="nav-item dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item bg-dark nav-link active" aria-current="page" routerLink="Employees/add-employee">Add Employee</a>
              <a class="dropdown-item bg-dark nav-link active" aria-current="page" routerLink="Employees/update-employee">update Employee</a>
              <a class="dropdown-item bg-dark nav-link active" aria-current="page" routerLink="Employees/employee-list">Employee List</a>
              <a class="dropdown-item bg-dark nav-link active" aria-current="page" routerLink="Employees/leaves">Leaves</a>
            </div>
          </div>
        </li>
        <li class="nav-item m-1">
          <div class="dropdown show">
            <a class="btn bg-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Department
            </a>
            <div class="nav-item dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item bg-dark nav-link active" aria-current="page" routerLink="Department/add-department">Add Department</a>
              <a class="dropdown-item bg-dark nav-link active" aria-current="page" routerLink="Department/update-department">update Department</a>
              <a class="dropdown-item bg-dark nav-link active" aria-current="page" routerLink="Department/department-list">Department List</a>
            </div>
          </div>
        </li>
        <li class="nav-item m-1">
          <div class="dropdown show">
            <a class="btn bg-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Jobs
            </a>
            <div class="nav-item dropdown-menu bg-dark" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item bg-dark nav-link active" aria-current="page" routerLink="Jobs/add-job">Add Job</a>
              <a class="dropdown-item bg-dark nav-link active" aria-current="page" routerLink="Jobs/update-job">update Job</a>
              <a class="dropdown-item bg-dark nav-link active" aria-current="page" routerLink="Jobs/job-list">Job List</a>
            </div>
          </div>
        </li>

      </ul>
  </div>
  </div>
</nav>
<div class="container">
</div>
 <router-outlet></router-outlet>
