<div class="container my-5">
  <h1 class="mb-3">Add New Department</h1>

  <div class="row">
    <div class="col-6">
      <form #Dform="ngForm" (ngSubmit)="onSubmit(Dform.value)" >
        <div class="mb-3">
          <label for="department_name" class="form-label" >Department Name</label>
          <input type="text" class="form-control" id="department_name" name="department_name"
          ngModel name="department_name" required
          >
        </div>
        <div class="mb-3">
          <label for="manager_name" class="form-label">Manager Name</label>
          <input type="text" class="form-control" id="manager_name" name="manager_name"
          ngModel name="manager_name" required
          >
        </div>


        <div class="mb-3">
          <label for="country_id" class="form-label">Country</label>
          <select (click)="onCountry()" class="form-select" ngModel name="country_id">
            <option *ngFor="let country of countries;  let i = index" value="{{country.iso2}}"
           #country_code
            >
            {{ country.name }}
            </option>
          </select>
        </div>
         <div class="mb-3">
          <label for="state_id" class="form-label">State</label>
          <select (click)="OnCountrySelect(Dform.value.country_id)" class="form-select" ngModel name="state_id">
            <option *ngFor="let state of states;  let i = index" value="{{state.state_code}}" >
            {{ state.name }}
            </option>
        </select>
        </div>
        <div class="mb-3">
          <label for="city_id" class="form-label">City</label>
          <select (click)="OnSelectState(Dform.value.state_id)" class="form-select" ngModel name="city_id">
            <option *ngFor="let city of cities;  let i = index" value="{{city.name}}" >
            {{ city.name }}
            </option>
        </select>
        </div>
        <button type="submit" class="btn btn-outline-primary" [disabled]="!Dform.valid">Submit</button>
    </form>
    </div>
  </div>


</div>
